#fluid {
    position: fixed !important;
    inset: 0 !important;

    width: 100vw !important;
    height: 100vh !important;

    pointer-events: none !important;

    z-index: 1 !important;

    display: block !important;
}

body {
    overflow-x: hidden;
}